
.container {
    max-width: 960px;
    margin: auto;
    background: #f4f4f4;
    padding: 20px;
}

header, nav, main, footer {
    padding: 20px;
    background: #ccc;
    margin: 10px 0;
}

@media (max-width: 600px) {
    header, nav, main, footer {
        background: #a4a4a4;
    }
}
